################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/AI_Corse/FileContentIndex
/.vs/AI Repo/FileContentIndex
/.vs/AICourse
/.vs/slnx.sqlite
/.vs/VSWorkspaceState.json
